.App {
  text-align: center;
}

body{
  font-family: 'Comic sans Ms',sans-serif;
}

nav{
  background-color: aqua;
}
.card{
  width: 400px;
  height: 400px;
  background: linear-gradient(45deg, deeppink, blueviolet);
  margin: 20px;
  padding: 20px;
  box-shadow:  5px 5px 10px black;
}
